@use "../util" as *;

.main_content_form{
    position: relative;
        &_input{
            width: 100%;
            border-radius: rem(50);
            height: rem(48);
            padding: rem(20) rem(10);
            border-color: var(--input-border)
        }
      
    &_input::placeholder{
        font-size: rem(14);
        opacity: 0.5;
        }
        &_input_button{
    position: absolute;
    right: 0;
    top: 0%;
    bottom: 0%;
    background: var(--btn);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border-radius: rem(28);
    width: rem(64);
    height: rem(48);
    border: none;
            }
        
    
    }